# Deep Learning

- CNN
- RNN
- Istm
- Gru
- Gen Ai

In [2]:
# !pip install numpy

In [3]:
# pip install matplotlib

In [4]:
# pip install pandas

In [5]:
# pip install seaborn

In [6]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [7]:
df=pd.read_csv(r"C:\Users\Rahul Singh\OneDrive\ドキュメント\CRT\Deep learning\cleaned_data.csv")

pip install tensorflow

In [8]:
df.head()

     price  kms_driven  owner  age  power  brand
0  35000.0     17654.0      1    3  110.0      8
1  65000.0     16329.0      1    4  180.0      8
2  80000.0     10000.0      1    3  150.0      5
3  53499.0     25000.0      1    6  150.0      5
4  85000.0      8200.0      1    3  160.0      6

In [9]:
df.dtypes

price         float64
kms_driven    float64
owner           int64
age             int64
power         float64
brand           int64
dtype: object

In [23]:
df.drop_duplicates(inplace=True)

In [24]:
df.isnull().sum()

price         0
kms_driven    0
owner         0
age           0
power         0
brand         0
dtype: int64

In [25]:
df.duplicated().sum()

np.int64(0)

In [27]:
# df.info()

In [28]:
# df.describe()

In [29]:
# df.duplicated().sum()

In [30]:
# df.drop_duplicates(inplace=True)

In [14]:
x=df.drop("price",axis=1)
y=df["price"]

In [31]:
x

      kms_driven  owner  age  power  brand
0        17654.0      1    3  110.0      8
1        16329.0      1    4  180.0      8
2        10000.0      1    3  150.0      5
3        25000.0      1    6  150.0      5
4         8200.0      1    3  160.0      6
...          ...    ...  ...    ...    ...
4226     10000.0      1    6  180.0      3
4230     41939.0      1    8  200.0      3
4231     29134.0      1    7  220.0      3
4237     60000.0      1    9  220.0      3
4238      7127.0      1    5  220.0      3

[3285 rows x 5 columns]

In [34]:
y

0       35000.0
1       65000.0
2       80000.0
3       53499.0
4       85000.0
         ...
4226    55000.0
4230    48000.0
4231    50000.0
4237    35000.0
4238    80000.0
Name: price, Length: 3285, dtype: float64

In [35]:
# pip install scikit-learn

In [39]:
# import sklearn.model_selection
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [22]:
# !pip install tensorflow

In [21]:
import tensorflow as tf

In [42]:
from tensorflow.keras.layers import Dense, Dropout
from tensorflow.keras.models import Sequential

In [43]:
input_shape = (5,)

In [44]:
model = Sequential()

In [45]:
### input layer
model.add(Dense(units=64, activation='relu', input_shape=input_shape))
# Dropout layer
model.add(Dropout (0.2))
### hidden layer
model.add(Dense(units=32, activation='relu'))
model.add(Dense(units=16, activation='relu'))
model.add(Dense(units=8, activation='relu'))

### output layer
model.add(Dense(units=1, activation='linear'))

model.compile(loss='mse', optimizer='adam', metrics=['mae','mae'])
#model.fit(x_train, y_train, epochs=100, batch_size=32, validation_data=(x_test, y_test))

c:\Users\Rahul Singh\AppData\Local\Programs\Python\Python311\Lib\site-packages\keras\src\layers\core\dense.py:93: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [46]:
history = model.fit(x_train, y_train, epochs=10, batch_size=32)

# validation_data=(x_test, y_test))

Epoch 1/10
83/83 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 3399338496.0000 - mae: 49011.0117 - mae_1: 49011.0117
Epoch 2/10
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 2339630848.0000 - mae: 37303.7500 - mae_1: 37303.7500
Epoch 3/10
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 2287805952.0000 - mae: 36363.8438 - mae_1: 36363.8438
Epoch 4/10
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 2461091584.0000 - mae: 38456.9180 - mae_1: 38456.9180
Epoch 5/10
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 2350198784.0000 - mae: 36982.1719 - mae_1: 36982.1719
Epoch 6/10
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 2242008576.0000 - mae: 36280.6172 - mae_1: 36280.6172
Epoch 7/10
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 2131870080.0000 - mae: 35565.9492 - mae_1: 35565.9492
Epoch 8/10
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 1950423936.0000 - mae: 33828.4453 - mae_1: 33828.4453
Epoch 9/10
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 1756631296.0000 - mae: 31832.7578 - mae_1: 31832.7578
Epoch 10/10
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 1020655744.0000 - mae: 23614.8398 - mae_1: 23614.8398

In [48]:
pd.DataFrame(history.history)

           loss           mae         mae_1
0  2.998654e+09  44211.097656  44211.097656
1  2.390049e+09  37673.027344  37673.027344
2  2.360968e+09  37350.945312  37350.945312
3  2.356543e+09  37366.003906  37366.003906
4  2.323662e+09  37138.750000  37138.750000
5  2.289866e+09  36818.863281  36818.863281
6  2.206348e+09  36093.210938  36093.210938
7  2.018237e+09  34434.820312  34434.820312
8  1.613181e+09  30432.539062  30432.539062
9  8.465035e+08  21365.933594  21365.933594

In [49]:
pred = model.predict(x_test)

21/21 ━━━━━━━━━━━━━━━━━━━━ 0s 7ms/step

In [50]:
y_test

883     65000.0
3541    32000.0
100     24500.0
146     86200.0
2727    35000.0
         ...
2602    97000.0
2639    41000.0
1407    52000.0
2716    30000.0
2246    60000.0
Name: price, Length: 657, dtype: float64

In [51]:
output_data = pd.DataFrame({'Actual': y_test.ravel(), 'predict':pred.ravel()})

C:\Users\Rahul Singh\AppData\Local\Temp\ipykernel_14448\68913292.py:1: FutureWarning: Series.ravel is deprecated. The underlying array is already 1D, so ravel is not necessary.  Use `to_numpy()` for conversion to a numpy array instead.
  output_data = pd.DataFrame({'Actual': y_test.ravel(), 'predict':pred.ravel()})

In [52]:
output_data

      Actual       predict
0    65000.0  45733.781250
1    32000.0  17575.238281
2    24500.0  26242.109375
3    86200.0  71971.765625
4    35000.0  40712.546875
..       ...           ...
652  97000.0  35780.015625
653  41000.0  29711.453125
654  52000.0  78208.773438
655  30000.0  17638.871094
656  60000.0  23896.796875

[657 rows x 2 columns]

In [53]:
output_data.describe()

              Actual        predict
count     657.000000     657.000000
mean    52896.246575   44639.062500
std     30159.470150   20008.068359
min     10000.000000   15611.462891
25%     30000.000000   26627.966797
50%     46000.000000   42388.863281
75%     70000.000000   57965.164062
max    160000.000000  117697.414062

# With the save function we can save the data

In [54]:
model.save('model.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.